<%= render partial: "layouts/admin_nav" %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Admin Dashboard</h2>
        <p>
          <%= link_to 'Manage Articles for the Explore Page', explore_articles_path %>
        </p>

      </div>
    </div>
  </div>
</section>
