<%= render partial: "layouts/admin_nav" %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="center">
          <h3>Edit New Explore Article</h3>
          <%= render 'form' %>
          <%= link_to 'Back to All Articles', explore_articles_path %>
        </div>
      </div>
    </div>
  </div>
</section>