<%= render partial: "layouts/public_nav" %>
<body class="page">
  <section id="about-canobie" class="bg-green">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="section-heading"><span>CANOBIE FILMS</span></h2>
                <div class="row">
                    <div class="col-md-12">
                        <div id="canobie-films">
                            <p> Canobie Films is a 501(c)3 not-for-profit foundation. We have created this site for educational purposes, and it is our intention to maintain and support it as long as there is interest.
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="http://www.canobiefilms.us/" target="_blank" class="btn btn-section">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
  </section>
</body>