<%= render partial: "layouts/public_nav" %>
<body class="page">
  <div id="motivation-bckgnd"></div>
  <section class="bg-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="section-heading"><span>MOTIVATION</span></h2>
          <div class="row">
            <div class="col-md-12">
              <div id="motivation">
                <p>From Director/Producer, Michael Arlen Davis:</p>
                <br>
                <p>I made this film as a dad, having watched our two daughters go through the college admissions testing process.</p>
                <p>It started with our eldest daughter, who is now 24. She had done very well in school, and had been a diligent student, but had a disappointing testing experience. Regrettably,  I hadn’t been much help. When it was turn for our youngest to begin the process, I said, “we are going to do it differently this time”, as I thought I might attempt to prepare her myself. And, as such, I began to take practice SAT exams, one section at a time.</p>
                <p>What I discovered was how strange this exam appeared to be. It seemed to be written in a code, a code one could sense or feel. But I couldn’t understand the purpose of learning this code. And then I began to wonder, is it just me, or is there anyone else  who detects this as well?  And so, I started reading the literature, and fortunately, there is a lot of it. The turning point was encountering the work of <a href="#nicholas_lemann" class="contributor-link" data-toggle="modal">Nicholas Lemann</a> of Columbia Unversity, both his seminal book, 'The Big Test', in our view quite underappreciated, and also his Atlantic magazine articles of 1995.</p>
                <p>And thus begin our investigative journey.</p>
                <p>We thought we would do just a local story, interviewing high school counselors and students. But, as happens, one thing led to another, until, over time, we found ourselves in the office of <a href="#bill_fitzsimmons" class="contributor-link" data-toggle="modal">William Fitzsimmons</a>, long time Dean of Admissions at Harvard, and then <a href="#steven_pinker" class="contributor-link" data-toggle="modal">Steven Pinker</a>, <a href="#howard_gardner" class="contributor-link" data-toggle="modal">Howard Gardner</a>, and <a href="#nicholas_lemann" class="contributor-link" data-toggle="modal">Nicholas Lemann</a>,  until, to our great good fortune, we were granted  time with <a href="#richard_atkinson" class="contributor-link" data-toggle="modal">Dr. Richard C. Atkinson</a>. Two years of interviews, 120 interviewees, 120 hours of tape, and one year of editing. Students, test prep professionals, academics, writers, and parents.</p>
                <br>
                <p>Michael Arlen Davis</p>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: "participants/multiple-mention-contributors-modal" %>
</body>