<%= render partial: "layouts/public_nav" %>
<body class="page">
  <section id="trailer-one-page" class="bg-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="section-heading"><span>WATCH THE TRAILER</span></h2>
          <div class="video-wrapper">
            <iframe src="https://player.vimeo.com/video/185692719?title=0&byline=0&portrait=0" width="1024" height="768" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>